body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: medium;
    letter-spacing: 2px;
}

button {
    background-color: #52BE80;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: medium;
    letter-spacing: 2px;
}

button:hover {
    opacity: 0.8;
}

.sign-up-container {
    padding: 16px;
    background-color:#f1f1f1;
}

.sign-up-form {
    width: 50%;
    margin: 10% 25%;
}

.sign-up-container.sign-up-password {
    float: right;
    padding-top: 16px;
}