.user_body {
    width: 100%;
    height: 80%;
}

.user_body_navbar {
    width: 18%;
    height: 700px;
    float: left;
    background-color: #52BE80;
    margin-left: 2px;
}

.user_body_dashboard {
    width: 80%;
    height: 700px;
    float: right;
    background-color: #f1f1f1;
    margin-right: 5px;
}