.component_div {
    margin-top: 20px;
    height: 100%;
    background-color: #cccccc;
}

.question-div {
    width: 100%;
}

.question-input-box {
    width: 80%;
    float: left;
    margin-top: 8px;
}

.add-option-button {
    width: 18%;
    float: right;
}

.option-div {
    width: 100%
}

.option-input-box {

}