body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.sidenav {
    height: 100%;
    width: 100%;
    /*position: fixed;*/
    z-index: 1;
    top: 0;
    left: 0;
    /*overflow-x: hidden;*/
    padding-top: 20px;
    text-align: left;
}

.sidenav a {
    padding: 2px 8px 2px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
}

.sidenav a:hover {
    color: #000;
}

.upload-question-choose-file {
    width: 100%;
    margin-bottom: 5%;
}

.upload-question-modal-button-close {
    float: right;
    width: 45%;
    background-color: #FF5B38;

}

.upload-question-modal-button-upload {
    float: left;
    width: 45%;
}

.export-survey-file-label {
    width: 100%;
    font-size: 100%;
}
/*.component_div {*/
    /*border: 1px solid #000;*/
    /*margin-top: 2px;*/
/*}*/

/*.main {*/
    /*margin-left: 160px; !* Same as the width of the sidenav *!*/
    /*font-size: 28px; !* Increased text to enable scrolling *!*/
    /*padding: 0px 10px;*/
/*}*/

/*@media screen and (max-height: 450px) {*/
    /*.sidenav {padding-top: 15px;}*/
    /*.sidenav a {font-size: 18px;}*/
/*}*/
