.component_div {

}

.question-div {
    width: auto;
    height: auto;
    background-color: orangered;
}

.question-input-box {
    width: 70%;
    height: 20px;
    padding: 5px 5px;
    margin: 1%;
    float: left;
}

.add-option-button {
    width: 20%;
    height: 30px;
    padding: 5px 5px;
    margin: 1%;
    float: right;

    vertical-align: center;

    background-color: #52BE80;
    color: white;
    border: none;
    cursor: pointer;
    font-size: medium;
    letter-spacing: 2px;
}

.option-div {
    background-color: antiquewhite;
}

.option-input-box {
    width: 50%;
}